<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ReceiveInfo</servlet-name>
        <servlet-class>ReceiveInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceiveInfo</servlet-name>
        <url-pattern>/rcv</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>History</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/his</url-pattern>
    </servlet-mapping>

</web-app>